name: Django Tests

on:
  push:
    branches:
      - "**"
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      db:
        image: postgres:14
        env:
          POSTGRES_DB: github_actions
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    
    env:
      POSTGRES_DB: github_actions
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST: localhost
      POSTGRES_PORT: 5432
      TESTING: True

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Set up Python
        run: uv python install 3.13

      - name: Display Python version
        run: uv run python -c "import sys; print(sys.version)"

      - name: Install Dependencies
        run: uv sync --frozen

      - name: Run migrations
        run: |
          export TESTING=1
          cd backend
          uv run python manage.py migrate

      - name: Run Tests
        run: |
          cd backend
          echo "==================  Tests Start ======================"
          uv run python manage.py test
          echo 
          echo "==================  Done  ======================"